# Configurações do Botpress
BOTPRESS_WEBHOOK_ID=seu_webhook_id_do_botpress_aqui

# Configurações da Evolution API
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=sua_apikey_global

# Nome da Instância no WhatsApp
EVOLUTION_INSTANCE_NAME=botv1
